@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #e60076;
  --bg-primary: #fce7f3;
  --secondary: #6a7282;
  --bg-secondary: #f3f4f6;
  --border: #e7e7e7;
  --bg-card: #fcfcfc;
  --font-sans: 'Figtree', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}

.font-figtree {
  font-family: var(--font-sans);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-card {
  background-color: var(--bg-card);
}

.border {
  border-color: var(--border);
}